header {
    background-color: black;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
header img {
  height: 80px;
  width: 80px;
  padding: 20px;
  margin-top: 15px;
}
body {
    background-color: black;
    font-family: Consolas;
}
h2 {
  color: darkmagenta;
  text-align: center;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: fixed; /* Position them relative to the browser window */
    z-index: 2; /*prioritet u prikazivanje*/
    left: -100px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 120px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border: 1px solid white;
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 120px from the top with a green background */
  #about {
    top: 140px;
    background-color: green;
  }
  
  #blog {
    top: 210px;
    background-color: green;
  }
  
  #projects {
    top: 280px;
    background-color: green;
  }
  #faqs {
    top: 350px;
    background-color: green;
  }
  
  #contact {
    top: 420px;
    background-color: green;
  }
  img {
      text-align: center;
      width: 100%;
  }
/*faqs*/
#pitanja {
 width: 80%;
  color: white;
  background-color: black;
}
#pitanja a {
  color: royalblue;
  text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
}
/*#pitanja img {
color:white;
width: 25px;
    height: 25px;
    margin: 5px;
}*/
/*glavni*/
#glavni {
  width: 80%;
  margin: auto;
  padding: 20px;
}
#glavni div {
  border: 1px solid green;
  border-radius: 15px;

}
#glavni i {
  color: darkmagenta;
  padding: 20px;
 
}
.jbnifa {
  text-align: center;
  background-color: white;
}

#glavni h4 {
  margin: 10px;
  color: royalblue;
}
#glavni p {
  color: white;
}
  /*uredjenje forme*/
  form {
    width:80%;
    margin: 0 auto;
  }

  input[type=submit] {
    color: white;
    background-color: green;
  }
  
  footer {

    background-image: linear-gradient(black, green) ;
     
  }
  footer div {
    text-align: center;
    padding: 20px;
    font-size: small;
  }
  #maksima {
    color:royalblue;
  }
  .thumbnail {
    width: 25px;
    height: 25px;
    margin: 5px;
  }


  /* odavde ide index page*/
  #indexbody {
    display: flex;
    justify-content: center;
  }
  .olimpija h1 {
    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 4px solid green; /* kursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 2px; /* Adjust as needed */
    animation: 
      typing 4.5s steps(38,end),
      kursor .75s step-end infinite;
  }
  .olimpija a {
    color: green;
    text-decoration: none; /* Remove underline */
    font-size: 30px;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes kursor {
    from, to { border-color: transparent }
    50% { border-color: green; }
  }