header {
    background-color: black;
    height: 100px;
    width: 100%;
}
body {
    background-color: black;
    font-family: Consolas;
}


/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -100px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 120px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 120px from the top with a green background */
  #about {
    top: 120px;
    background-color: green;
  }
  
  #blog {
    top: 180px;
    background-color: green;
  }
  
  #projects {
    top: 240px;
    background-color: green;
  }
  #faqs {
    top: 300px;
    background-color: green;
  }
  
  #contact {
    top: 360px;
    background-color: green;
  }
  img {
      text-align: center;
      width: 100%;
  }
  footer {
     background-color: black;
  }
  /* odavde ide index page*/
  #indexbody {
    display: flex;
    justify-content: center;
  }
  .typewriter h1 {
    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid green; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.5s steps(38,end),
      kursor .75s step-end infinite;
  }
  .typewriter a {
    color: green;
    text-decoration: none; /* Remove underline */
    font-size: 40px; 
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes kursor {
    from, to { border-color: transparent }
    50% { border-color: green; }
  }